* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4aadaa;
}

h1{
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: "Bebas Neue";
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, #FFC125 0%, #1E90FF 20%, #66CDAA 53%, #228B22 79%, #C0FF3E 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

.char1 {
    color: #CD661D;
}

.char2 {
    color: black;
}

.char3 {
    color: #1E90FF;
}
.char4 {
    color: #66CDAA;
}
.char5 {
    color: #228B22;
}
.char6 {
    color: #C0FF3E;
}
.char7 {
    color: #FFF68F;
}
.char8 {
    color: #FFC125;
}
.char9 {
    color: #FF3030;
}
.char10 {
    color: #FF6A6A;
}
.char11 {
    color: #FFFFFF;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
}

form .input-block {
    margin-bottom: 20px;
}

form .input-block label {
    font-size: 14px;
    color: #066a75;
}

form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #066a75;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #066a75;
}

form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #066a75;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
    href
}

/* APARIÇÃO DO FORM */
form {
    overflow: hidden;
    animation: fade 0.2s;
}

form .input-block:nth-child(1) {
    animation: move 500ms;
}

form .input-block:nth-child(2) {
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
}

form .btn-login {
    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.form-hide {
    animation: down 500ms forwards;
}

@keyframes down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

.link{
    position: center;
    background: #ffffff;
    color: #7f7c7c;
    left: 0px;
    height: 30px;
    width: 440px;
    padding: 20px 35px 25px 35px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;

    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
}

.link a {
    font-weight: bold;
    background: #4aadaa;
    padding: 6px;
    color: #ffffff;
    margin-left: 10px;
    border: 1px solid #ffffff;

    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
}

.link a:hover {
    color: #4ab3c6;
    background: #4ab3c6;
    border: 1px solid #4ab3c6;
}
